services:
  server:
    container_name: wine-shop-be
    build:
      context: ..
      dockerfile: docker/Dockerfile.local
    ports:
      - 8080:8080
    networks:
      - backend
    
  postgres:
    image: postgres:latest
    container_name: wine-shop-postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DATABASE: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - backend

networks:
  backend:

volumes:
  postgres: v_postgres